@font-face {
    font-family: 'Audrey';
    font-style: normal;
    font-weight: 400;
    src: local('Audrey'), url(/fonts/Audrey/Audrey-Normal.otf) format('opentype');
}

@font-face {
    font-family: 'Gobold';
    font-style: normal;
    font-weight: 400;
    src: local('Gobold'), url(/fonts/gobold/Gobold-Regular.otf) format('opentype');
}